.team-card {
    transition: .3s ease-in box-shadow;
    cursor: pointer;
}

.team-card:hover {
    box-shadow: 3px 6px 12px -12px rgba(0, 0, 0, 0.6);
}

.card__map-pin {
    background: var(--main-green);
    padding: 1rem;
    width: min-content;
    border-radius: 100%;
}

.agent-container .commercial .composition {
    padding: 0;
}

.agent-container .commercial--alternate .composition:before {
    left: -10rem;
    width: 80vw;
    height: calc(100% + 12rem);
}

.agent-accordion {
    border-color: var(--main-green);
}

.agent-accordion [data-accordion-item] {
    border-color: var(--main-green);
}

@media (max-width: 750px) {

    /* Mobile custom breakpoint */
    .agent-container .commercial--alternate .composition:before {
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        height: calc(100% + 6rem);
    }
}