.blog-preview:after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 70vh;
    top: 50%;
    z-index: -10;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #f4f5f7;
}

@media (max-width:750px) {
    .blog-preview:after {
        height: 100%;
        top: 20em;
    }

}